# -----------------------------------------------------------------------------
# MISC IGNORES
# -----------------------------------------------------------------------------

# Scratch folder
_dev/

# Mac nonsense
.DS_Store

# Local notebook data downloads
_notebooks/notebooks/data/

# -----------------------------------------------------------------------------
# WEBSITE IGNORES
# -----------------------------------------------------------------------------

_site/

.sass-cache/
.jekyll-cache/
.jekyll-metadata
